<!-- <div class="caption">List of bugs</div>
 <div id="table">
 <div class="header-row row">
     <span class="cell primary">QA Engeneer's name</span>
     <span class="cell">Bug name</span>
     <span class="cell">Description</span>
     <span class="cell">Unsolved</span>
   </div>
   <div class="row">
 <input type="radio" name="expand">
     <span class="cell primary" data-label="Username">Costel Saolinul</span>
     <span class="cell" data-label="Bug name">Flying cars</span>
      <span class="cell" data-label="Description">After pressing A and D simultaaniously and hit a car it will fly </span>
      <span class="cell" data-label="Unsolved">FALSE</span>
   </div>
   <div class="row">
 <input type="radio" name="expand">
     <span class="cell primary" data-label="Username">Daniel Baiatu' Vulture</span>
     <span class="cell" data-label="Bug name">Glitch</span>
      <span class="cell" data-label="Description">In map 2 at Orcs, near the castle it is a floating tree with a donky on it</span>
      <span class="cell" data-label="Unsolved">FALSE</span>
     
   </div>
   <div class="row">
 <input type="radio" name="expand">
     <span class="cell primary" data-label="Username">Costel vulcanizare</span>
     <span class="cell" data-label="Bug name">Radio</span>
      <span class="cell" data-label="Description">Does not have MANELE!!</span>
      <span class="cell" data-label="Unsolved">FALSE</span>
     
   </div>
   <div class="row">
 
 </div> -->