<div class="topnav">
  <a class="active">QA Engeneer</a>
  <a href="add-bug-report">Add Bug Report</a>
  <form [formGroup]="logoutForm" (ngSubmit)="logout()">
    <div class="col-lg-7 login-btm login-button">
      <button type="submit"class="btn btn-outline-primary">Logout</button>
    </div>
  </form>
</div>
<h2>Responsive Table</h2>
 <div class="table-wrapper">
     <table class="fl-table">
         <thead>
         <tr>
             <th class="green">Tester</th>
             <th class="grey">Bug name</th>
             <th class="grey">Description</th>
             <th class="grey">Unsolved</th>
         </tr>
         </thead>
         <tbody>
         <tr>
          <tr *ngFor="let bug of bugs">
            <td>{{bug.testerName}}</td>
            <td>{{bug.bugName}}</td>
            <td>{{bug.description}}</td>
            <td>{{bug.solved}}</td>
         </tr>
         <tbody>
     </table>
 </div>