
<div class="topnav">
  <a class="active">QA Engeneer</a>
  <a href="add-bug-report">Add Bug Report</a>
</div>
<h2>Responsive Table</h2>
 <div class="table-wrapper">
     <table class="fl-table">
         <thead>
         <tr>
             <th class="green">QA Engeneer</th>
             <th class="grey">Bug name</th>
             <th class="grey">Description</th>
             <th class="grey">Unsolved</th>
         </tr>
         </thead>
         <tbody>
         <tr>
             <td>Costel vulcanizare</td>
             <td>Radio</td>
             <td>Does not have MANELE!!</td>
             <td>UNSOLVED</td>
         </tr>
         <tr>
             <td>Daniel Baiatu' Vulture</td>
             <td>Glitch</td>
             <td>In map 2 at Orcs, near the castle it is a floating tree with a donky on it</td>
             <td>UNSOLVED</td>
         </tr>
         <tr>
             <td>Costel Saolinul</td>
             <td>Flying cars</td>
             <td>After pressing A and D simultaaniously and hit a car it will fly </td>
             <td>UNSOLVED</td>
         </tr>
         <tbody>
     </table>
 </div>